<div class="container p-3 pt-5">
  <h2 class="pt-4">MentorPack</h2>
  <p>
    MentorPack is a global mentorship platform that provides young aspiring individuals with experienced mentors in the
    professional world. We believe it is essential for aspiring individuals to surround themselves with people that are
    already where they want to be.
  </p>
  <p>
    We work with young and talented individuals to build the foundations of their professional careers by leveraging the
    mentor's knowledge and experience in specific fields to offer personalized guidance in order to navigate the unknown
    paths of the mentee's career path and help them reach their goals faster.
  </p>
  <h3 class="pt-4">The Pack</h3>
  <p>The pack binds the wolves together as one. It represents devotion,
    respect, and extreme loyalty. The pack is a family where little wolves
    are taken care of, fed and nurtured. Indeed, wolves symbolize guardianship.
    These animals very family oriented, communicate with each other, have strong emotional
    attachments, and trust their own instincts. Inspired by this animal we aim to create a unique community of
    individuals where every member is guided and taken care to unleash
    their full potential.</p>

  <h3 class="pt-4">What is mentoring?</h3>
  <p>Mentoring is a professional partnership between two parties: the
    mentor and the mentee.</p>
  <p>
    The idea behind mentoring is knowledge sharing, career development
    and performance improvement.
  </p>
  <p>
    Our mentoring program offers counseling sessions, in which the mentor
    and the mentee set a goal to achieve, through a specific framework and
    defined timeline.
  </p>

  <h3 class="pt-4">What does MentorPack offer?</h3>
  <ul>
    <li>One-on-one mentoring</li>
    <li>Group mentoring</li>
    <li>Workshops</li>
    <li>Personalized plans</li>
    <li>Distance or E-mentoring</li>
  </ul>
  <p>
  <div class="m-0 p-0 pb-3 pt-4 companies row">
    <div class="py-2 col-md-1 col-2 p-md-2 px-0 ">
      <img src="../../../assets/images/s&1.png" alt="">
    </div>
    <div class="py-2 col-md-1 col-2 p-md-2 px-0 ">
      <img src="../../../assets/images/booz.png" alt="">
    </div>
    <div class="py-2 col-md-1 col-2 p-md-2 px-0 ">
      <img src="../../../assets/images/ow.jpg" alt="">
    </div>
    <div class="py-2 col-md-1 col-2 p-md-2 px-0 ">
      <img src="../../../assets/images/kearn.jpeg" alt="">
    </div>
    <div class="py-2 col-md-1 col-2 p-md-2 px-0 ">
      <img src="../../../assets/images/ey1.png" alt="">
    </div>
    <div class="py-2 col-md-1 col-2 p-md-2 px-0 ">
      <img src="../../../assets/images/euro.jpeg" alt="">
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="row m-0 p-0 py-4 w-100 phone">
      <div class="col-4 px-3 text-center">
        <a class="w-100 text-center" routerLink="/about" routerLinkActive="active">About</a>
      </div>
      <div class="col-4 px-3 item-center text-center">
        <a class="w-100 text-center" routerLink="/unavailable" routerLinkActive="active">Membership</a>
      </div>
      <div class="col-4 px-3 text-center">
        <a class="w-100 text-center" routerLink="/unavailable" routerLinkActive="active">Impact</a>
      </div>
    </div>
  </div>


</div>
<app-footer></app-footer>