<div class="registration-form">
  <header>
    <div class="row">
      <div class="col-10">
        <h1>JOIN US!</h1>
    <p class="w-100">Fill in your informations</p>
      </div>
      <div class="col-2">
        <div *ngIf="isLoading" class="spinner-border " role="status"><span class="sr-only">Loading...</span></div>
      </div>
    </div>
    
  </header>
  <form #registerForm="ngForm">
    <div class="input-section name-section" id="name-section">
      <input
        type="name"
        name="name"
        class="name"
        ngModel
        #name="ngModel"
        placeholder="ENTER YOUR FULL NAME HERE"
        autocomplete="off"
        required
      />
      <div class="animated-button" (click)="submitName(registerForm)">
        <span class="icon-paper-plane"><i class="fa fa-arrow-up"></i></span>
      </div>
    </div>

    <div class="input-section email-section folded" id="email-section">
      <input
        type="email"
        name="email"
        class="email"
        ngModel
        #email="ngModel"
        placeholder="ENTER YOUR E-MAIL HERE"
        autocomplete="off"
        pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
        required
      />
      <div class="animated-button" (click)="submitEmail(registerForm)">
        <span class="icon-paper-plane" id="email-a"
          ><i class="fa fa-arrow-up"></i
        ></span>
      </div>
    </div>

    <div class="input-section password-section folded" id="pass-section">
      <input
        type="password"
        name="password"
        placeholder="ENTER YOUR PASSWORD HERE"
        ngModel
        #password="ngModel"
        required
        minlength="4"
      />
      <div class="animated-button" (click)="submitPass(registerForm)">
        <span class="icon-paper-plane" id="email-a"
          ><i class="fa fa-arrow-up"></i
        ></span>
      </div>
    </div>

    <div class="input-section file-section folded" id="file-section">
      <input
          type="file"
          (change)="onFileSelected($event)"
          (click)="onFileSelected($event)"
          #pickedFile
        />       
      <div class="animated-button" (click)="submit(registerForm)">
        <span class="icon-paper-plane" id="email-a"
          ><i class="fa fa-arrow-up"></i
        ></span>
      </div>
    </div>

    <div class="success" id="success">
      <p>ACCOUNT CREATED</p>
    </div>

    <div class="unsuccess" id="unsuccess">
      <p>ERROR CREATING YOUR ACCOUNT</p>
    </div>
  </form>
</div>
