<div class="back pt-5">
  <div class="row m-0 p-0 pb-5 px-md-5 px-0 pt-2">
    <div class="col-12 col-md-6 middle p-md-5 p-2">
      <div class="row m-0 p-2">
        <h1>Connect & Grow.</h1>
        <p>
          MentorPack is a global mentorship platform that provides young aspiring individuals with experienced mentors
          in
          the professional world.
        </p>
      </div>
      <div class="row m-0 p-0">
        <div class="col-4 p-2">
          <div class="stat p-2">
            <div class="background-icon ">
              <i class="fas fa-users"></i>
            </div>
            <small class="mt-1 font-weight-bold w-100 text-center">40+ Mentees</small>
          </div>
        </div>
        <div class="col-4 p-2">
          <div class="stat p-2">
            <div class="background-icon ">
              <i class="fas fa-user-tie"></i>
            </div>
            <small class="mt-1 font-weight-bold w-100 text-center">15+ Mentors</small>
          </div>
        </div>
        <div class="col-4 p-2">
          <div class="stat p-2">
            <div class="background-icon ">
              <i class="fas fa-building"></i>
            </div>
            <small class="mt-1 font-weight-bold w-100 text-center">7+ Companies</small>
          </div>
        </div>
      </div>

    </div>
    <div class="col-12 col-md-6">
      <img src="../../../assets/back.png" class="img-fluid" alt="">
      <div class="row m-0 p-0 py-4 w-100 phone">
        <div class="col-4 px-3 text-center">
          <a class="w-100 text-center" routerLink="/about" routerLinkActive="active">About</a>
        </div>
        <div class="col-4 px-3 item-center text-center">
          <a class="w-100 text-center" routerLink="/unavailable" routerLinkActive="active">Membership</a>
        </div>
        <div class="col-4 px-3 text-center">
          <a class="w-100 text-center" routerLink="/unavailable" routerLinkActive="active">Impact</a>
        </div>
      </div>
    </div>
  </div>

</div>

