img{
  width: 45%;
  height: auto;
}

.full{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 85vh;
  justify-content: center;
  align-content: center;
  align-items: center;
  display: flex;
  background-color: #0c2d48;
}

@media (min-width : 768px) {
  .full{
    height: 100vh;
  }
}

.back{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 8;
  height: 100vh;
  justify-content: center;
  align-content: center;
  align-items: center;
  display: flex;
  background-color: #0c2d48;
}

input{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 90%;
  margin: 10px;
  border-radius: 5px;
  background-color: #f0f2f5;
  border : 1px solid #0c2d482f;
  color: #0c2d48;
}

input:focus{
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border: #0c2d48 solid 2px;
  outline: none;
}


@media (min-width : 768px) {
  .phone{
      display: none !important;
  }
}

@media (max-width : 768px) {
  .notphone{
      display: none !important;
  }
}

.col-12{
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}

.card{
  border-radius: 5px;
  border: none;
  width: 400px;
}

.col-md-7{
  color: #f0f2f5 !important;
  background-color: #0c2d48;
  margin: 0;
}

.notphone{
  border-radius: 0 10px 10px 0px;
}

.phone{
  border-radius: 10px 10px 0px 0px;
}

h3{
  font-weight: 700;
}



button{
  background-color: #0c2d48;
  color: #f0f2f5;
  box-shadow: none;
  width: 90%;
  opacity: 1;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button:disabled{
  opacity: 0.8;
}

button:disabled:hover{
  opacity: 0.8;
  transform: scale(1);
}














@keyframes quiet {
  25% {
      transform: scaleY(0.6);
 }
  50% {
      transform: scaleY(0.4);
 }
  75% {
      transform: scaleY(0.8);
 }
}
@keyframes normal {
  25% {
      transform: scaleY(1);
 }
  50% {
      transform: scaleY(0.4);
 }
  75% {
      transform: scaleY(0.6);
 }
}
@keyframes loud {
  25% {
      transform: scaleY(1);
 }
  50% {
      transform: scaleY(0.4);
 }
  75% {
      transform: scaleY(1.2);
 }
}

.boxContainer {
  display: flex;
  justify-content: space-between;
  height: 40px;
  --boxSize: 8px;
  --gutter: 4px;
  width: calc((var(--boxSize) + var(--gutter)) * 5);
}
.box {
  transform: scaleY(0.4);
  height: 100%;
  width: var(--boxSize);
  background: #0c2d48;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  border-radius: 8px;
}
.box1 {
  animation-name: quiet;
}
.box2 {
  animation-name: normal;
}
.box3 {
  animation-name: quiet;
}
.box4 {
  animation-name: loud;
}
.box5 {
  animation-name: quiet;
}



button:hover{
  transform: scale(0.96);
  color: #f0f2f5;
}

