<div class="full">
  <div class="container-fluid pt-5">
    <div class="col-12 text-center title pt-md-5">
      <h2 class="">
        "For the strength of the Pack is the wolf, and the strength of the wolf
        is the Pack"
      </h2>
      <p>Rudyard Kipling</p>
    </div>
    <div class="col-12 d-flex py-4 px-0 register" *ngIf="!loggedIn()">
      <app-register></app-register>
    </div>
  </div>
   <div class="social-menu container-fluid pt-0 pb-5">
    <ul class="px-0 py-3">
      <li>
        <a href=""><i class="fa fa-facebook"></i></a>
      </li>
      <li>
        <a href=""><i class="fa fa-envelope"></i></a>
      </li>
      <li>
        <a href=""><i class="fa fa-instagram"></i></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/company/mentorpack"><i class="fa fa-linkedin"></i></a>
      </li>
    </ul>
  </div>
</div>


 